@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

/* Configurando estilizações padrão da página */
body {
  font-family: 'Inter', Arial, sans-serif;
  line-height: 1.6rem;
  font-size: 1.6rem;
}


/* Configurações Iniciais */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Variáveis de cores do Projeto e Fonte-Size */

:root{
    font-size: 62.5%;
    --green-dark: #166534;
    --green-mid-dark: #047857;
    --green-mid: #1a7a40;
    --gray-light: #F3F4F6;
    --white: #ffffff;
    --black: #0a0a0a;
}


/* Header ---------------------------------------------------------- */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--green-dark);
    color: var(--white);
    padding: 0.5rem 1rem;
    flex-wrap: wrap; 
    font-size: 1.4rem;
    width: 100%;
    z-index: 1000;
    transition: 0.4s;
}
.navbar-inicio{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    color: var(--white);
    padding: 0.5rem 1rem;
    flex-wrap: wrap; 
    font-size: 1.4rem;
    width: 100%;
    z-index: 1000;
    transition: 0.4s;
}
header.rolagem .navbar-inicio{
    background-color: white;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);

}
header.rolagem .navbar-inicio a, header.rolagem .navbar-inicio p, header.rolagem .navbar-inicio .icon-login{
        color: var(--green-mid);
}
header.rolagem .navbar-inicio .navbar-links li a:hover{
    background-color: white;
}
header.rolagem .navbar-inicio .button-login::after,header.rolagem .navbar-inicio .button-perfil::after{
    color: var(--green-mid);
}


.brand {
    color: var(--white);
    text-decoration: none;
    font-size: 1.5rem;
}

.navbar-links ul {
    display: flex;
    align-items: center;
    gap: 0.7rem;
    margin: 0;
    padding: 0;
    list-style: none;
}

.navbar-links li a {
    color: var(--white);
    text-decoration: none;
    padding: 0.5rem 1rem;
    display: flex;
    text-align: center;
    height: 100%;
}

.navbar-links li a:hover {
    background-color: var(--green-dark);
}

/* Container do Botão de Login */
.button-login , .button-perfil{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border-radius: 50px;
    width: 3rem;
    height: 3rem;
    margin: 0; 
    position: relative;
    overflow: hidden;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    cursor: pointer;
}

/* Estilo do Ícone de Login */
.icon-login {
    font-size: 2.3rem;
    color: var(--white);
    transition: all 0.5s ease;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Texto Login (Escondido por padrão) */
.button-login::after {
    content: "Login";
    position: absolute;
    opacity: 0;
    right: 20px;
    color: var(--white);
    font-size: 1.4rem;
    font-weight: bold;
    transition: all 0.4s ease;
    pointer-events: none;
    white-space: nowrap;
}
.button-perfil::after {
    content: "Perfil";
    position: absolute;
    opacity: 0;
    right: 20px;
    color: var(--white);
    font-size: 1.4rem;
    font-weight: bold;
    transition: all 0.4s ease;
    pointer-events: none;
    white-space: nowrap;
}

.button-login:hover ,.button-perfil:hover{
    width: 110px;
    background-color: var(--green-mid-dark);
    justify-content: flex-start; 
    padding-left: 12px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.3);
}

.button-login:hover .icon-login , .button-perfil:hover .icon-login {
    transform: scale(0.9);
}

.button-login:hover::after , .button-perfil:hover::after{
    opacity: 1;
    right: 25px;
}


/* Oculta o menu hamburguer em tela grande */
.botao {
    display: none; 
    flex-direction: column;
    justify-content: space-around;
    height: 24px;
    width: 30px;
    background: none;
    border: none;
    cursor: pointer;
}

.barra {
    width: 100%;
    height: 3px;
    background-color: var(--white);
    border-radius: 10px;
}
header.rolagem .navbar-inicio .barra{
    background-color: var(--green-mid);
}

@media (max-width: 770px) {
            

.botao {
    display: flex;
}


.navbar-links {
    display: none; 
    width: 100%; 
}


.navbar {
    flex-direction: row;
    align-items: center;
}

.navbar-links ul {
    flex-direction: column;
    width: 100%;
}
            

.navbar-links.active {
    display: flex;
}

/* Remove o formato de "botão circular" no celular */
.button-login , .button-perfil{
    width: 100%;
    height: auto;
    justify-content: flex-start;
    border-radius: 0;
    background: none !important;
    box-shadow: none !important;
}

/* Esconde o ícone de círculo no celular */
.icon-login {
    display: none;
}

/* Faz o texto "Login" aparecer normalmente na lista */
.button-login::after {
    content: "Login";
    position: static;
    opacity: 1;
    color: var(--white);
    font-size: 1.5rem;
    padding: 0 1rem;
    font-weight: normal;
}
.button-perfil::after {
    content: "Perfil";
    position: static;
    opacity: 1;
    color: var(--white);
    font-size: 1.5rem;
    padding: 0 1rem;
    font-weight: normal;
}

.button-login:hover , .button-perfil:hover{
    width: 100%;
}
.navbar-inicio .navbar-links{
    background:linear-gradient(to right, #047857, #064E3B);
    width: 100vw;
    z-index: 999;
    position: fixed;
    left: 0;
    top: 2.8rem;
}
header.rolagem .navbar-inicio .navbar-links{
    background:linear-gradient(to right, white, white);
    transition: 0.4s;
    position: static;
}

}

/* Mensagens Flask */
.flash-container {
    padding: 20px;
}

.flash-message {
    margin-top: 3.5rem;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    position: relative;
    font-family: sans-serif;
}

/* Estilo específico para a categoria 'success' (Verde) */
.success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.danger {
    color: #991b1b; 
    background-color: #fef2f2;
    border-color: #fecaca;
}

.danger .close-btn {
    color: #721c24;
}

.close-btn {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    color: #155724;
    opacity: 0.5;
}

.close-btn:hover {
    opacity: 1;
}

/* Primeiro section ------------------------------------------*/

.inicio_pagina_feira {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.8) 100%), url(/static/images/imagem-fundo_pagina-inicial.jpg);
    /* Garante que a imagem cubra todo o espaço e não se repita */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Inter', sans-serif;
    padding: 10rem 7rem;
    color: white;   
}

.inicio_pagina_feira #titulo_tradicao{
    display: inline;
    background-color: #16A34A;
    padding: 0.7rem 1.2rem;
    border-radius: 20px;
    font-size: 1.4rem;
}

.inicio_pagina_feira .titulo {
    font-size: 4rem;
    font-family: 'Playfair Display', serif;
    margin: 3rem 0;
    line-height: 7rem;

}

.inicio_pagina_feira #titulo_verde {
    color: #4ADE80;
}

.inicio_pagina_feira .descricao_feira {
    color: #E2E8F0;
    font-size: 2rem;
    max-width: 50%;
    line-height: 3rem;
}

.inicio_pagina_feira .descricao_feira h3 {
    font-weight: 400;
}

.inicio_pagina_feira .botoes {
    margin: 5rem 0;
}

.inicio_pagina_feira .botoes a{
    text-decoration: none;
    color: white;
    padding: 2rem;
    border-radius: 12px;
    font-weight: bold;
    font-size: 1.6rem;
}

.inicio_pagina_feira #btn_ver_produtos {
    display: inline-block;
    transition: all 0.3s ease;
    background-color: #16A34A;
    margin-right: 1.5rem;
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 2rem 3rem;
}

.inicio_pagina_feira #btn_ver_produtos:hover {
    background-color: #0f8339;
    transform: scale(1.05);
}

.inicio_pagina_feira #btn_historia {
    background-color: #FFFFFF2A;
    text-decoration: none;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.2);
    /* Faz o fundo ficar só atrás do conteúdo */
    display: inline-block;
    /* Cor de fundo semi-transparente */
    background: rgba(255, 255, 255, 0.1); 
     /* Desfoque no que está atrás */
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); /* Suporte para Safari */
}

.inicio_pagina_feira #btn_historia:hover {
    background: rgba(255, 255, 255, 0.219);
}

@media (max-width: 768px) {
    :root {
        font-size: 55%; /* Diminui levemente a escala base para telas médias */
    }

    .inicio_pagina_feira {
        height: auto; /* Permite que a seção cresça conforme o conteúdo */
        padding: 8rem 2rem;
        /* Muda o degradê para vir de baixo, facilitando a leitura em telas verticais */
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.8) 100%), url(/static/images/imagem-fundo_pagina-inicial.jpg);
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center; /* Centraliza o conteúdo no mobile */
    }

    .inicio_pagina_feira .titulo {
        font-size: 3.2rem;
        line-height: 6rem;
        margin: 2rem 0;
    }

    .inicio_pagina_feira .descricao_feira {
        max-width: 100%; /* Texto ocupa a largura toda no tablet */
        font-size: 2.5rem;
    }

    .inicio_pagina_feira .botoes {
        display: flex;
        flex-direction: column; /* Botões um em cima do outro */
        gap: 1.5rem;
        margin-top: 4rem;
    }

    .inicio_pagina_feira #btn_ver_produtos {
        margin-right: 0; /* Remove a margem lateral no mobile */
    }
    
    .inicio_pagina_feira .botoes a {
        width: 100%; /* Botões ocupam a largura total disponível */
        text-align: center;
    }
}

@media (max-width: 480px) {
    .inicio_pagina_feira .titulo {
        font-size: 2.3rem;
        padding: 2rem 0;
    }
    
    .inicio_pagina_feira {
        padding: 4rem 1.5rem;
    }
}   

/* Estilizando o Main  */
.historia_feira {
    background-color: var(--gray-light) ;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.main_feira{
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 2.0rem;


    font-size: 1.6rem;
    background-color: var(--white);
    border-radius: 2.0rem;

    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;

    max-width: 900px;
    width: 100%;

}

@media screen and (max-width: 480px) {
    /* Title H1 */
    .first_section h1 {
        font-size: 1.8rem;
    }

    /* Carrossel */
    .carrossel {
        min-height: 20vh;
    }

    .content {
        box-shadow: none;
        border-radius: 0;
        width: 100%;
        /* Reduzir um pouco a proporção para telas muito estreitas, se necessário */
        aspect-ratio: 16 / 9;
    }

    .navigation {
        bottom: 2px;
        padding: 2px; 
    }

    .bar {
        width: 10px;
        height: 10px;
        margin: 3px;
    }

    /* Botão Ver Produtos */
    .button_ver_produtos {
        padding: 0.8rem;
        width: 120px;
        justify-content: center;
        margin-top: 1.7rem;
        text-decoration: none;
        color: var(--white);
        font-size: 1.2rem;
    }
}

/* Estilizando o footer da página inicial */

footer {
    font-family: 'Inter', sans-serif;
    padding: 5rem 6rem;
    background-color: #0F172A;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "nome_feira nome_feira links informacoes";
    margin-bottom: 2rem;
    gap: 2rem;
}

h2 {
    font-size: 2.4rem;
    padding-bottom: 2rem;
}

footer h2 span {
    background-color: green;
    padding: 0.5rem;
    border-radius: 7px;
    font-size: 2rem;
}

h3 {
    font-size: 1.6rem;
}

h4 {
    color: #CBD5E1;
    font-size: 1.4rem;
}

p , address{
    color: #94A3B8;
    font-size: 1.6rem;
}

h2, h3 {
    color: white;
    padding-bottom: 2.5rem;
}

.nome_feira {
    grid-area: nome_feira;
    max-width: 60%;
}

.nome_feira p{
    line-height: 2.5rem;
}

.links_uteis {
    grid-area: links;
    font-size: 1.6rem;
}

.links_uteis a, li {
    text-decoration: none;
    color: #94A3B8;
    list-style-type: none;
    line-height: 3rem;
}

.links_uteis a:hover {
    color: white;
    transition: 0.3s;
}

.informacoes {
    grid-area: informacoes;
    line-height: 2.5rem;
}


.direitos {
    border-top: 1px solid #162341;
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;
}

.direitos #termos{
    display: flex;
    gap: 2rem;
}

.direitos #termos a {
    text-decoration: none;
    color: #94A3B8;
}

.direitos #termos a:hover {
    color: white;
    transition: 0.3s;
}

.direitos p {
    margin-top: 2rem;
}

@media (max-width: 992px) {
    .grid {
        /* No tablet, passamos para 2 colunas */
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
            "nome_feira nome_feira"
            "links informacoes";
    }
    
    .nome_feira {
        max-width: 100%;
    }
}

@media (max-width: 600px) {
    footer {
        padding: 4rem 2rem; /* Reduz o padding lateral no celular */
    }

    .grid {
        /* No celular, tudo vira uma única coluna */
        grid-template-columns: 1fr;
        grid-template-areas: 
            "nome_feira"
            "links"
            "informacoes";
    }

    .nome_feira {
        max-width: 80%;
    }

    .direitos {
        flex-direction: column; /* Empilha os direitos autorais */
        gap: 1rem;
        padding-top: 2rem;
        text-align: center;
    }

    .direitos #termos {
        justify-content: center;
    }
}

/* Estilizando footer das demais páginas */

.footer{
    background-color: var(--green-dark);
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    flex-direction: column;
    gap: 0.7rem;
}

.direitos {
    text-align: center;
    line-height: 2rem;
}
/*Modais */
.modais {
    display: none; 
    position: fixed; 
    top: 0; 
    left: 0;
    width: 100%; height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1000;
    justify-content: center;
    align-items: center;
    padding: 0; 
    margin: 0;
}