@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

/* Configurando estilizações padrão da página */
body {
  font-family: 'Inter', Arial, sans-serif;
  line-height: 1.6rem;
  font-size: 1.6rem;
}


/* Configurações Iniciais */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Variáveis de cores do Projeto e Fonte-Size */

:root{
    font-size: 62.5%;
    --green-dark: #166534;
    --green-mid-dark: #047857;
    --green-mid: #1a7a40;
    --gray-light: #F3F4F6;
    --white: #ffffff;
    --black: #0a0a0a;
}


/* Header ---------------------------------------------------------- */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--green-dark);
    color: var(--white);
    padding: 0.5rem 1rem;
    flex-wrap: wrap; 
    font-size: 1.4rem;
}

.brand {
    color: var(--white);
    text-decoration: none;
    font-size: 1.5rem;
}

.navbar-links ul {
    display: flex;
    align-items: center;
    gap: 0.7rem;
    margin: 0;
    padding: 0;
    list-style: none;
}

.navbar-links li a {
    color: var(--white);
    text-decoration: none;
    padding: 0.5rem 1rem;
    display: flex;
    text-align: center;
    height: 100%;
}

.navbar-links li a:hover {
    background-color: var(--green-dark);
}

/* Container do Botão de Login */
.button-login {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border-radius: 50px;
    width: 3rem;
    height: 3rem;
    margin: 0; 
    position: relative;
    overflow: hidden;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    cursor: pointer;
}

/* Estilo do Ícone de Login */
.icon-login {
    font-size: 2.3rem;
    color: var(--white);
    transition: all 0.5s ease;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Texto Login (Escondido por padrão) */
.button-login::after {
    content: "Login";
    position: absolute;
    opacity: 0;
    right: 20px;
    color: var(--white);
    font-size: 1.4rem;
    font-weight: bold;
    transition: all 0.4s ease;
    pointer-events: none;
    white-space: nowrap;
}

.button-login:hover {
    width: 110px;
    background-color: var(--green-mid-dark);
    justify-content: flex-start; 
    padding-left: 12px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.3);
}

.button-login:hover .icon-login {
    transform: scale(0.9);
}

.button-login:hover::after {
    opacity: 1;
    right: 25px;
}


/* Oculta o menu hamburguer em tela grande */
.botao {
    display: none; 
    flex-direction: column;
    justify-content: space-around;
    height: 24px;
    width: 30px;
    background: none;
    border: none;
    cursor: pointer;
}

.barra {
    width: 100%;
    height: 3px;
    background-color: var(--white);
    border-radius: 10px;
}

@media (max-width: 770px) {
            

.botao {
    display: flex;
}


.navbar-links {
    display: none; 
    width: 100%; 
}


.navbar {
    flex-direction: row;
    align-items: center;
}

.navbar-links ul {
    flex-direction: column;
    width: 100%;
}
            

.navbar-links.active {
    display: flex;
}

/* Remove o formato de "botão circular" no celular */
.button-login {
    width: 100%;
    height: auto;
    justify-content: flex-start;
    border-radius: 0;
    background: none !important;
    box-shadow: none !important;
}

/* Esconde o ícone de círculo no celular */
.icon-login {
    display: none;
}

/* Faz o texto "Login" aparecer normalmente na lista */
.button-login::after {
    content: "Login";
    position: static;
    opacity: 1;
    color: var(--white);
    font-size: 1.5rem;
    padding: 0 1rem;
    font-weight: normal;
}

.button-login:hover {
    width: 100%;
}

}

/* Carrossel de Imagens ------------------------------------------*/

.first_section {
    background-color: var(--green-mid-dark);
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    padding: 3rem 0;
}

.first_section h1 {
    font-size: 2.8rem;
    padding-bottom: 1.5rem;
    color: #F3F4F6;
}

.carrossel {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.content {
    width: 90%;
    max-width: 935px;
    height: auto;
    aspect-ratio: 935 / 520; /* Proporção para manter a altura em relação à largura (935px/520px) */
    
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.content .slide img {
    height: 100%;
    width: 100%;
    object-fit: cover; 
}

.navigation {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10px;
    display: flex;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.bar {
    width: 15px;
    height: 15px;
    border: 2px solid var(--white);
    margin: 6px;
    border-radius: 15px;
    cursor: pointer;
    transition: .5s ease;
}

.bar:hover {
    background-color: var(--white);
}

.input {
    display: none;
}

.slides {
    display: flex;
    width: 500%;
    height: 100%;
}

.slide {
    width: 20%;
    transition: .6s;
}

/* Lógica de Transição (movimento do carrossel) */
#slide1:checked ~ .s1 {
    margin-left: 0;
}

#slide2:checked ~ .s1 {
    margin-left: -20%;
}

#slide3:checked ~ .s1 {
    margin-left: -40%;
}

#slide4:checked ~ .s1 {
    margin-left: -60%;
}

#slide5:checked ~ .s1 {
    margin-left: -80%;
}





/* Estilização do botão Ver Produtos */

.button_ver_produtos {
    padding: 1rem 2rem;
    border-radius: 20px;
    display: flex;
    border: 2px solid var(--white);
    width: 150px;
    justify-content: center;
    margin-top: 2rem;
    text-decoration: none;
    color: var(--white);
    font-size: 1.4rem;
    font-weight: bold;
    transition: 0.3s ease;
}

.button_ver_produtos:hover {
    background-color: var(--white);
    color:#047857;
}

/* Estilizando o Main  */
.historia_feira {
    background-color: var(--gray-light) ;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.main_feira{
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 2.0rem;


    font-size: 1.6rem;
    background-color: var(--white);
    border-radius: 2.0rem;

    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;

    max-width: 900px;
    width: 100%;

}

/* Fim da Estilização da Main */


@media screen and (max-width: 768px) {
  
    /* Carrosel */
    .carrossel {
        min-height: 35vh;
    }

    .content {
        width: 95%; 
        max-width: 600px;
    }

    .bar {
        width: 10px;
        height: 10px;
        margin: 4px;
    }

    .navigation {
        bottom: 5px;
    }

    /* Botão Ver Produtos */
    .button_ver_produtos {
        padding: 0.8rem 0.8rem;
        width: 120px;
        justify-content: center;
        margin-top: 20px;
        text-decoration: none;
        color: var(--white);
        font-size: 1.2rem;

    }
}

@media screen and (max-width: 480px) {
    /* Title H1 */
    .first_section h1 {
        font-size: 1.8rem;
    }

    /* Carrossel */
    .carrossel {
        min-height: 20vh;
    }

    .content {
        box-shadow: none;
        border-radius: 0;
        width: 100%;
        /* Reduzir um pouco a proporção para telas muito estreitas, se necessário */
        aspect-ratio: 16 / 9;
    }

    .navigation {
        bottom: 2px;
        padding: 2px; 
    }

    .bar {
        width: 10px;
        height: 10px;
        margin: 3px;
    }

    /* Botão Ver Produtos */
    .button_ver_produtos {
        padding: 0.8rem;
        width: 120px;
        justify-content: center;
        margin-top: 1.7rem;
        text-decoration: none;
        color: var(--white);
        font-size: 1.2rem;
    }
}

/* Estilizando footer da página inicial */

.footer{
    background-color: var(--green-dark);
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    flex-direction: column;
    gap: 0.7rem;
}

.direitos {
    text-align: center;
    line-height: 2rem;
}
