@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    font-size: 62.5%;
}

body {
    font-family: 'Inter', Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f9;
    color: #333;
}


.container-tabela {
    max-width: 1000px;
    margin: 5.0rem auto;
    padding: 2.0rem;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0.4rem 1.5rem rgba(0,0,0,0.1); 

}

.container-tabela h1 {
    text-align: center;
    color: #333;
    margin-bottom: 3.0rem;
}

.tabela-produtos {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1.0rem;
}

.tabela-produtos th {
    background-color: #28a745; /* Verde do IFPB */
    color: white;
    padding: 1.5rem;
    text-align: left;
    font-weight: 600;
}

.tabela-produtos td {
    padding: 1.5rem;
    border-bottom: 1px solid #ddd; 
    color: #555;
    vertical-align: middle;
}
.tabela-produtos td:nth-child(3) {
    max-width: 15rem;      
    white-space: nowrap;    
    overflow: hidden;       
    text-overflow: ellipsis;
}

.tabela-produtos tr:nth-child(even) {
    background-color: #f9f9f9;
}

.tabela-produtos tr:hover {
    background-color: #f1f1f1;
}


.acoes {
    display: flex;
    gap: 1.0rem;
}

.btn-editar {
    background: none;
    border: none;
    background-color: #28a745;
    color: white;
    cursor: pointer;
    transition: transform 0.2s;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 0.4rem;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    transition: 0.3s;
    font-size: 0.9rem;
    font-family: 'Inter', sans-serif;
}


.btn-excluir {
    background: none;
    border: none;
    background-color: #dc3545;
    color: white;
    cursor: pointer;
    transition: transform 0.2s;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 0.4rem;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    transition: 0.3s;
    font-size: 0.9rem;
    font-family: 'Inter', sans-serif;
}
.btn-excluir:hover , .btn-editar:hover{
    transform: scale(1.2);
}
/*Modal Excluir -------*/
.modal_excluir {
    background: white;
    padding: 20px;
    border-radius: 8px;
    max-width: 400px;
    text-align: center;
    color: #333;
}
.botoes{
    display: flex; 
    justify-content: space-around; 
    margin-top: 20px; 
}

.btn-cancelar-tabela, .btn-confirmar { 
    background: white; 
    color: red; 
    border:2px solid red; 
    padding: 10px 20px; 
    cursor: pointer; 
    border-radius: 5px; 
}
.btn-cancelar-tabela:hover, .btn-confirmar:hover {
    background-color: red;
    color: white;
    border: 2px solid #6c1413;
}
/*Modais de Edição ------------*/

.modal_editar_usuario h1{
    margin-bottom: 0.5rem;
}
.nome_produto {
    margin-bottom: 2rem;
    color: #28a745;
    font-size: 3.5rem;
    text-align: center;
}

.modal_editar_usuario {
    background-color: white;
    padding: 2.0rem;
    border-radius: 15px;
    width: 90%;
    max-width: 50rem;
    text-align: center;
    max-height: 90vh;
    overflow-y: auto;
}

.modal_editar_usuario input, .modal_editar_usuario textarea {
    width: 100%;
    padding: 1.0rem;
    margin: 1.5rem 0;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.btn-salvar { 
    background-color: white; 
    color: #28a745; 
    border: 2px solid #28a745; 
    padding: 10px 20px; 
    border-radius: 5px; 
    cursor: pointer; 
}
.btn-cancelar { 
    background-color: white; 
    color: #dc3545; 
    border: 2px solid #dc3545; 
    padding: 10px 20px; 
    border-radius: 5px; 
    cursor: pointer; 
    margin-left: 10px; 
}
.btn-salvar:hover {
    background: #28a745;
    color: white;
    border: 2px solid #064006
}
.btn-cancelar:hover{
    background: #dc3545;
    color: white;
    border: 2px solid #6c1413;
}

@media (max-width: 600px){

    .container-tabela{
        padding: 0%;
    }
    .tabela-produtos th{
        text-align: center;
        padding: 0.8rem 0.4rem; 
        font-size: 1.4rem;
    }
    .acoes{
        display: flex;
        flex-direction: column;
        gap: 1.7rem;
        margin: 0;
    }
   .tabela-produtos td {
        vertical-align: middle;
        padding: 0.8rem 0.4rem; 
        font-size: 1.4rem;   
    }

    
    .btn-editar, .btn-excluir {
        padding: 0.5rem 1.0rem;
        font-size: 1.2rem;
    }
    .tabela-produtos td:nth-child(3) {
        max-width: 10rem; 
} 
