@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

.sessao-cadastro {
    font-family: 'Inter', sans-serif;
    background-color: #f4f4f9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 95vh;
    padding: 20px;
}

.sessao-cadastro h2 {
    color: #333;
    margin-bottom: 1rem;
    text-align: center;
    font-size: 3rem;
}

.sessao-cadastro form {
    background-color: white;
    padding: 40px;
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column; 
}

.sessao-cadastro form br {
    display: none;
}

.sessao-cadastro form label {
    font-weight: 600;
    font-size: 1.4rem;
    color: #555;
    margin-bottom: 5px;
    margin-top: 15px;
}

.sessao-cadastro form label:first-of-type {
    margin-top: 0;
}

.sessao-cadastro form input {
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1.3rem;
    outline: none;
    transition: 0.3s;
}

.sessao-cadastro form input:focus {
    border-color: #28a745;
    box-shadow: 0 0 0 3px rgba(40, 167, 69, 0.2);
}

.sessao-cadastro form button {
    margin-top: 25px;
    padding: 12px;
    background-color: #28a745;
    color: white;
    font-weight: bold;
    font-size: 1.3rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.sessao-cadastro form button:hover {
    background-color: green;
}

.sessao-cadastro p {
    margin-top: 20px;
    font-size: 1.3rem;
    color: #666;
}

.sessao-cadastro p a {
    color: #28a745;
    text-decoration: none;
    font-weight: bold;
}

.sessao-cadastro p a:hover {
    text-decoration: underline;
}

.sessao-cadastro div[style*="color"] {
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 15px;
    text-align: center;
    font-weight: bold;
    width: 100%;
    max-width: 400px;
}
.whatsapp-container {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 5px 10px;
    background-color: #fff;
    width: 100%;
    max-width: 300px; /* Ajuste conforme seu layout */
}

.inicio_numero {
    font-size: 1.1rem;
    margin-right: 8px;
    color: #555;
    font-weight: bold;
    border-right: 1px solid #ddd;
    padding-right: 8px;
    display: flex;
    align-items: center;
    text-align: center;
}

.whatsapp-container input {
    border: none;
    outline: none;
    width: 100%;
    padding: 8px;
    font-size: 1rem;
}