{% extends "base.html" %}

{% block title %} pagina Inicial {% endblock %}

{% block.css %} <link rel="stylesheet" href="barra-pesquisa.css"> {% endblock %}

{% block content %}

<div class="pesquisa-container">
    
    <div class="caixa-pesquisa">
        <input type="text" placeholder="O que você procura?">
        <button>Buscar</button>
    </div>

    <div class="filtro">
        <label for="filtro-categoria">Filtrar por:</label>
        <select id="filtro-categoria">
            <option value="az">A - Z</option>
            <option value="maior-preço">Maior Preço</option>
            <option value="menor-preço">Menor Preço</option>
        </select>
    </div>

</div>

{% endblock %}