{% extends 'base.html' %}

{% block title %}Editar Produto{% endblock %}

{% block content %}

    <h1>Editando: {{ produto.nome }}</h1>
    
    <form method="POST" enctype="multipart/form-data">
        <div>
            <label>Nome do Produto:</label>
            <input type="text" name="nome" value="{{ produto.nome }}" required>
        </div>
        
        <div>
            <label>Preço:</label>
            <input type="text" name="preco" value="{{ produto.preco }}" required>
        </div>

        <div>
            <label>Descrição:</label>
            <textarea name="descricao" required>{{ produto.descricao }}</textarea>
        </div>

        <div>
            <label>Imagem atual: {{ produto.imagem }}</label><br>
            <label>Trocar imagem (deixe vazio para manter a atual):</label>
            <input type="file" name="imagem">
        </div>

        <button type="submit">Salvar Alterações</button>
        <a href="{{ url_for('pagina_perfil') }}">Cancelar</a>
    </form> 

{% endblock %}