{% extends "base.html" %}

{% block title %} pagina Inicial {% endblock %}

{% block content %}

<!--coloca tudo que colocaria na main, mas n usa a tag main se n buga tudo -->

 <!-- Carrossel de Imagens -->
    <div class="content">

        <div class="slides">

            <input class="input" type="radio" name="slide" id="slide1" checked>
            <input class="input" type="radio" name="slide" id="slide2">
            <input class="input" type="radio" name="slide" id="slide3">
            <input class="input" type="radio" name="slide" id="slide4">
            <input class="input" type="radio" name="slide" id="slide5">

            <div class="slide s1">
                <img src="/static/images/images-carrossel/img1.jpg" alt="Imagem 1">
            </div>

            <div class="slide">
                <img src="/static/images/images-carrossel/img2.jpg" alt="Imagem 2">
            </div>

            <div class="slide">
                <img src="/static/images/images-carrossel/img3.jpg" alt="Imagem 3">
            </div>

            <div class="slide">
                <img src="/static/images/images-carrossel/img4.jpg" alt="Imagem 4">
            </div>

            <div class="slide">
                <img src="/static/images/images-carrossel/img5.jpg" alt="Imagem 5">
            </div>

        </div>
        <div class="navigation">
        <label class="bar" for="slide1"></label>
        <label class="bar" for="slide2"></label>
        <label class="bar" for="slide3"></label>
        <label class="bar" for="slide4"></label>
        <label class="bar" for="slide5"></label>
    </div>
    </div>

    <script src="/static/css/script-index.js"></script>
    <!-- Fim do Carrossel de Imagens -->

{% endblock %}

{% block footer %}

<!-- coloca tudo que colocaria no footer, mas n usa a tag footer se n buga tudo -->

{% endblock %}