{% extends "base.html" %}

{% block title %} pagina Inicial {% endblock %}

{% block class_navbar %}navbar-inicio{% endblock %}
{% block content %}

<!--coloca tudo que colocaria na main, mas n usa a tag main se n buga tudo -->

<!-- Primeira section da página inicial -->
<section class="inicio_pagina_feira">
    <h3 id="titulo_tradicao">TRADIÇÃO EM JOÃO PESSOA</h3>
    <div class="titulo">
        <h1>Bem-vindo à</h1>
        <h1 id="titulo_verde">Feira de Jaguaribe</h1>
    </div>

    <div class="descricao_feira">
        <h3>Desde 1940, o coração pulsante da nossa cultura.</h3>
        <h3>Venha descobrir o melhor dos produtos regionais e o acolhimento paraibano.</h3>
    </div>

    <div class="botoes">
        <a href="{{ url_for('pagina_produtos' ) }}" id="btn_ver_produtos">Ver Produtos</a>
        <a href="#"id="btn_historia">Conhecer História</a>
    </div>
</section>

    <!-- Começo do Main da página principal  -->
<section class="historia_feira">
    <div class="main_feira">
        <h2>Sobre a Feira de Jaguaribe</h2>
        <p>A feira de Jaguaribe é uma das feiras mais antigas de João Pessoa. Sendo também conhecida como a 'feira da quarta' (por conta da tradição da ocorrência em todas as quartas da semana), a feira traz consigo uma história cultural riquíssima do bairo e um ponto de encontro para vendedores locais, fortalecendo a economia da região e a conexão dos moradores com o ambiente. Preços acessíveis e alta variedade de alimentos chamam atenção e garantem uma alta quantidade de consumidores toda semana. Além da sua importância econômica e cultural, o fator social é indispensável na análise desse mercado público. Tendo uma praça ao lado da feira, muitas pessoas (principalmente idosos e crianças) se aproveitam do alto movimento de indivíduos para estar saindo de casa e assim podem aproveitar dum ambiente cheio de comidas típicas paraibanas e música regional.</p>
        <p>A feira tem registros de sua existência desde 1940 e funcionava em um terreno baldio em frente à Igreja de Nossa Senhora do Rosário, mudando de localidade devido à construção do Centro Administrativo. Seus produtos variam de frutas, verduras, carnes, queijos, rapaduras, além de tapiocas e café e outras bebidas que tornam um lugar atrativo para quem visita. Esse ponto cultural da Paraíba é ainda conhecida pelas "gambiarras" de iluminação feitas pelos feirantes, pelos personagens, pela "xepa" (preços mais baixos no fim do dia) e pela atmosfera de autenticidade e comércio.</p>
    </div>
    <!-- Fim do Main da página principal -->
</section>
{% endblock %}