{% extends "base.html" %}

{% block title %} pagina Perfil {% endblock %}

{% block css%} <link rel="stylesheet" href="static/css/style-perfil.css"> {% endblock %}

{% block content %}
<a href="{{ url_for('logout' ) }}" style="display: flex; justify-content: right; margin: 0 0.5rem;">Logout</a>

<br>
<h1>Olá, {{ current_user.nome_completo }}!</h1>
<br>

<h2>Seus produtos</h2>

<div class="container-tabela">
    <table class="tabela-produtos">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Preço</th>
                <th>Descrição</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            
            {% for produto in produtos %} 
            <tr>
                <td>{{ produto.nome }}</td> 
                
                <td>R$ {{ produto.preco }}</td>
                
                <td>{{ produto.descricao }}</td>

                <td class="acoes">
                    <button class="btn-editar" onclick="Abrir_ModalEditar('{{produto.id}}')">
                        Editar
                    </button>
                    <div id="modal_editar_{{ produto.id }}" class="modais">
                        <div class="modal_editar">
                            <h1>Editando: </h1>
                            <p class="nome_produto"><b>{{ produto.nome }}</b></p>
                            <form action="{{ url_for('editar_produto', id_produto=produto.id) }}" method="POST" enctype="multipart/form-data">
                                <div>
                                    <label>Nome do Produto:</label>
                                    <input type="text" name="nome" value="{{ produto.nome }}" required>
                                </div>
                                <div>
                                    <label>Preço:</label>
                                    <input type="text" name="preco" value="{{ produto.preco }}" required>
                                </div>
                                <div>
                                    <label>Descrição:</label>
                                    <textarea name="descricao" required>{{ produto.descricao }}</textarea>
                                </div>
                                <div>
                                    <label>Imagem atual: {{ produto.nome_imagem }}</label><br>
                                    <label>Trocar imagem (deixe vazio para manter a atual):</label>
                                    <input type="file" name="imagem">
                                </div>
                                <button type="submit">Salvar Alterações</button>
                                <button type="button" onclick="Fechar_ModalEditar('{{ produto.id }}')">Cancelar</button>
                            </form>
                        </div>
                    </div>
                    <button class="btn-excluir" onclick="Abrir_ModalExcluir('{{ produto.id }}')">
                        Excluir
                    </button>
                    <div id="modal_excluir_{{ produto.id }}" class="modais">
                        <div class="modal_excluir">
                            <h3>Confirmar Exclusão</h3>
                            <p>Deseja mesmo excluir o produto <strong>"{{ produto.nome }}"</strong>?</p>
                            
                            <div class="botoes">
                                <button onclick="Fechar_ModalExcluir('{{ produto.id }}')" class="btn-cancelar">Cancelar</button>
                                <form action="{{ url_for('excluir_produto', id_produto=produto.id) }}" method="POST">
                                    <button type="submit" class="btn-confirmar">Excluir</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            {% endfor %}

        </tbody>
    </table>
</div>

<!-- Mensagem que aparece se o admin tentar excluir a sua própria conta -->
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="alert alert-{{ category }}">{{ message }}</div>
    {% endfor %}
  {% endif %}
{% endwith %}

<!-- Dashboard de administrador -->
<table border="">
    <thead>
        <th>Username</th>
        <th>Nome</th>
        <th>Ação</th>
    </thead>
    <tbody>
        {% for usuario in usuarios %}
            <tr>
                <td>{{ usuario.username }}</td>
                <td>{{ usuario.nome }}</td>
                <td><a href="{{ url_for('excluir_vendedor', username=usuario.username) }}">Excluir</a></td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}