{% extends "base.html" %}

{% block title %} pagina Perfil {% endblock %}

{% block css%} <link rel="stylesheet" href="static/css/style-perfil.css"> {% endblock %}

{% block content %}
<div class="flex_logout">
    <a class="css_logout" href="{{ url_for('logout' ) }}">Logout</a>
</div>

<h1 class="h1_perfil">Suas configurações de perfil</h1>

{% with messages = get_flashed_messages(category_filter=['successo'],with_categories=true) %}
{% if messages %}
{% for category, message in messages %}
<div style="color: green; text-align: center;">
    {{ message }}
</div>
{% endfor %}
{% endif %}
{% endwith %}

<!-- Mensagem que aparece se o admin tentar excluir a sua própria conta -->
{% with messages = get_flashed_messages(category_filter=['dashboard_erro'],with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="alert alert-{{ category }}" style="text-align: center; color: red;">{{ message }}</div>
    {% endfor %}
  {% endif %}
{% endwith %}

{% with messages = get_flashed_messages(category_filter=['erro_username'],with_categories=true) %}
{% if messages %}
{% for category, message in messages %}
<div style="color: red;">
    {{ message }}
</div>
{% endfor %}
{% endif %}
{% endwith %}

<div class="perfil-info">
    <div class="perfil_flex">
        <p><strong>Username atual:</strong> {{ current_user.username }}</p>
        <button type="button" class="btn-editar-username" onclick="AbrirModal('modal_username')">
         Alterar Username
        </button>
    </div>
</div>

<div id="modal_username" class="modais" style="display: none;">
    <div class="modal_editar_usuario">
        <h1>Alterar Username</h1>
        <p>Lembre-se: isso mudará seu login e atualizará todos os seus produtos.</p>
        
        <form action="{{ url_for('alterar_username') }}" method="POST">
            <div>
                <label for="novo_username">Novo Username:</label>
                <input type="text" id="novo_username" name="novo_username" 
                       placeholder="Digite o novo username" required>
            </div>
            
            <div class="botoes-modal">
                <button type="submit" class="btn-salvar">Confirmar Alteração</button>
                <button type="button" class="btn-cancelar" onclick="FecharModal('modal_username')">Cancelar</button>
            </div>
        </form>
    </div>
</div>
{% with messages = get_flashed_messages(category_filter=['erro_nome'],with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
        <div style="color: red;">
            {{ message }}
        </div>
        {% endfor %}
    {% endif %}
{% endwith %}

<div class="perfil-info">
    <div class="perfil_flex">
        <p><strong>Nome atual:</strong> {{ current_user.nome_completo }}</p>
        <button type="button" class="btn-editar-nome" onclick="AbrirModal('modal_nome')">
         Alterar Nome
        </button>
    </div>
</div>

<div id="modal_nome" class="modais" style="display: none;">
    <div class="modal_editar_usuario">
        <h1>Alterar Nome</h1>
        
        <form action="{{ url_for('alterar_nome_vendedor') }}" method="POST">
            <div>
                <label for="novo_nome">Novo Nome:</label>
                <input type="text" id="novo_nome" name="novo_nome" placeholder="Digite o novo nome" required>
            </div>
            
            <div class="botoes-modal">
                <button type="submit" class="btn-salvar">Confirmar Alteração</button>
                <button type="button" class="btn-cancelar" onclick="FecharModal('modal_nome')">Cancelar</button>
            </div>
        </form>
    </div>
</div>
{% with messages = get_flashed_messages(category_filter=['erro_data'],with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
        <div style="color: red;">
            {{ message }}
        </div>
        {% endfor %}
    {% endif %}
{% endwith %}
<div class="perfil-info">
    <div class="perfil_flex">
        <p><strong>Data de Nascimento:</strong> {{ current_user.data.split('-')[2] }}/{{ current_user.data.split('-')[1] }}/{{ current_user.data.split('-')[0] }}</p>
        <button type="button" class="btn-editar-nome" onclick="AbrirModal('modal_data')">
            Alterar Data de Nascimento
        </button>
    </div>
</div>

<div id="modal_data" class="modais" style="display: none;">
    <div class="modal_editar_usuario">
        <h1>Alterar Data</h1>
        
        <form action="{{ url_for('alterar_data_vendedor') }}" method="POST">
            <div>
                <label for="nova_data">Nova Data:</label>
                <input type="date" id="nova_data" name="nova_data" required>
            </div>
            
            <div class="botoes-modal">
                <button type="submit" class="btn-salvar">Confirmar Alteração</button>
                <button type="button" class="btn-cancelar" onclick="FecharModal('modal_data')">Cancelar</button>
            </div>
        </form>
    </div>
</div>
{% with messages = get_flashed_messages(category_filter=['erro_senha'],with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
        <div style="color: red;">
            {{ message }}
        </div>
        {% endfor %}
    {% endif %}
{% endwith %}
<div class="perfil-info">
    <div class="perfil_flex">
        <p><strong>Senha:</strong>**************</p>
        <button type="button" class="btn-editar-nome" onclick="AbrirModal('modal_senha')">
            Alterar Senha
        </button>
    </div>
</div>

<div id="modal_senha" class="modais" style="display: none;">
    <div class="modal_editar_usuario">
        <h1>Alterar Senha</h1>
        
        <form action="{{ url_for('alterar_senha') }}" method="POST">
            <div>
                <label for="senha_atual">Senha Atual:</label>
                <input type="password" id="senha_atual" name="senha_atual" required>
            </div>
            <div>
                <label for="nova_senha">Nova Senha:</label>
                <input type="password" id="nova_senha" name="nova_senha" required>
            </div>
            <div>
                <label for="confirmar_senha">Confirmar Nova Senha:</label>
                <input type="password" id="confirmar_senha" name="confirmar_senha" required>
            </div>
            
            <div class="botoes-modal">
                <button type="submit" class="btn-salvar">Confirmar Alteração</button>
                <button type="button" class="btn-cancelar" onclick="FecharModal('modal_senha')">Cancelar</button>
            </div>
        </form>
    </div>
</div>

{% with messages = get_flashed_messages(category_filter=['erro_telefone'],with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
        <div style="color: red;">
            {{ message }}
        </div>
        {% endfor %}
    {% endif %}
{% endwith %}
<div class="perfil-info">
    <div class="perfil_flex">
        {% if current_user.whatsapp == "None" %}
            <p><strong>telefone:</strong>Número de telefone não informado</p>
        {% else %}
            <p><strong>telefone:</strong>{{current_user.whatsapp}}</p>
        {% endif %}
        <button type="button" class="btn-editar-nome" onclick="AbrirModal('modal_telefone')">
            Alterar telefone
        </button>
    </div>
</div>
<div id="modal_telefone" class="modais" style="display: none;">
    <div class="modal_editar_usuario">
        <h1>Alterar telefone</h1>
        
        <form action="{{ url_for('alterar_whatsapp') }}" method="POST">
            <div>
                <label for="novo_telefone">Novo telefone:</label>
                <input type="text" id="novo_telefone" name="novo_telefone" placeholder="Deixe em branco para apagar o número" minlength="11">
            </div>
            
            <div class="botoes-modal">
                <button type="submit" class="btn-salvar">Confirmar Alteração</button>
                <button type="button" class="btn-cancelar" onclick="FecharModal('modal_telefone')">Cancelar</button>
            </div>
        </form>
    </div>
</div>

<h2 id="seus_produtos">Seus produtos</h2>

<div class="container-tabela">
    <table class="tabela-produtos">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Preço</th>
                <th>Descrição</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            
            {% for produto in produtos %} 
            <tr>
                <td>{{ produto.nome }}</td> 
                
                <td>R$ {{ produto.preco }}</td>
                
                <td>{{ produto.descricao }}</td>

                <td class="acoes">
                    <button class="btn-editar" onclick="AbrirModal('modal_editar_{{produto.id}}')">Editar</button>
                    <div id="modal_editar_{{ produto.id }}" class="modais">
                        <div class="modal_editar_usuario">
                            <h1>Editando: </h1>
                            <p class="nome_produto"><b>{{ produto.nome }}</b></p>
                            <form action="{{ url_for('editar_produto', id_produto=produto.id) }}" method="POST" enctype="multipart/form-data">
                                <div>
                                    <label>Nome do Produto:</label>
                                    <input type="text" name="nome" value="{{ produto.nome }}" required>
                                </div>
                                <div>
                                    <label>Preço:</label>
                                    <input type="text" name="preco" value="{{ produto.preco }}" required>
                                </div>
                                <div>
                                    <label>Descrição:</label>
                                    <textarea name="descricao" required>{{ produto.descricao }}</textarea>
                                </div>
                                <div>
                                    <label>Imagem atual: {{ produto.nome_imagem }}</label><br>
                                    <label>Trocar imagem (deixe vazio para manter a atual):</label>
                                    <input type="file" name="imagem">
                                </div>
                                <button type="submit">Salvar Alterações</button>
                                <button type="button" onclick="FecharModal('modal_editar_{{ produto.id }}')">Cancelar</button>
                            </form>
                        </div>
                    </div>
                    <button class="btn-excluir" onclick="AbrirModal('modal_excluir_{{ produto.id }}')">Excluir</button>
                    <div id="modal_excluir_{{ produto.id }}" class="modais">
                        <div class="modal_excluir">
                            <h3>Confirmar Exclusão</h3>
                            <p>Deseja mesmo excluir o produto <br><strong>"{{ produto.nome }}"</strong>?</p>
                            
                            <div class="botoes">
                                <button onclick="FecharModal('modal_excluir_{{ produto.id }}')" class="btn-cancelar-tabela">Cancelar</button>
                                <form action="{{ url_for('excluir_produto', id_produto=produto.id) }}" method="POST">
                                    <button type="submit" class="btn-confirmar">Excluir</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            {% endfor %}

        </tbody>
    </table>
</div>


<!-- Dashboard de administrador -->
<div class="painel-admin">

    <h2>Dashboard de Administrador</h2>

        <table class="tabela-admin">
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Nome</th>
                    <th class="coluna-acoes">Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for usuario in usuarios %}
                    <tr>
                        <td>{{ usuario.username }}</td>
                        <td>{{ usuario.nome }}</td>
                        
                        <td class="coluna-acoes">
                            <div class="acoes">
                                <button class="botao-ver">Produtos</button>
                                <button class="btn-excluir" onclick="AbrirModal('modal_excluir_{{ usuario.id }}')">Excluir</button>
                                <div id="modal_excluir_{{ usuario.id }}" class="modais">
                                    <div class="modal_excluir">
                                        <h3>Confirmar Exclusão</h3>
                                        <p class="strong_admin">Deseja mesmo excluir o usuario <br><strong>"{{ usuario.username }}"</strong>?</p>
                                        
                                        <div class="botoes">
                                            <button onclick="FecharModal('modal_excluir_{{ usuario.id }}')" class="btn-cancelar-tabela">Cancelar</button>
                                            <form action="{{ url_for('excluir_vendedor', username=usuario.username) }}" method="POST">
                                                <button type="submit" class="btn-confirmar">Excluir</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                        
                    </tr>
                {% endfor %}
            </tbody>
        </table>

</div>

{% endblock %}