{% extends "base.html" %}

{% block title %}Detalhes - {{  produto.nome }}{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/produto_descricao.css') }}">
{% endblock %}

{% block content %}
<main class="produto-detalhe">
    <h1>{{ produto.nome }}</h1>
    <img class="img_dc" src="{{ url_for('static', filename='uploads/' + produto.imagem) }}" alt="Imagem de {{ produto.nome }}">
    <section>
      <div class="descricao">
        <p><strong>Preço:</strong> {{ produto.preco }}</p>
        <p><strong>Vendedor:</strong> {{ produto.vendedor }}</p>
        <h2>Descrição</h2>
        <p>{{ produto.descricao }}</p>
        <a class="voltar"  href="{{ url_for('pagina_produtos') }}">Voltar</a>
      </div>
    </section>
</main>
{% endblock %}

