{% extends "base.html" %}

{% block title %} pagina Produtos {% endblock %}
{% block css %} <link rel="stylesheet" href="/static/css/style-produtos.css"> {% endblock %}

{% block content %}

<a href="{{ url_for('cadastro_produtos' ) }}">Cadastrar um produto</a>

<div class="pesquisa-container">
    
    <div class="caixa-pesquisa">
        <input type="text" placeholder="O que você procura?">
        <button>Buscar</button>
    </div>

    <div class="filtro">
        <label for="filtro-categoria">Filtrar por:</label>
        <select id="filtro-categoria">
            <option value="az">A - Z</option>
            <option value="maior-preço">Maior Preço</option>
            <option value="menor-preço">Menor Preço</option>
        </select>
    </div>

</div>

<div class="container-cards">

    {% for produto in produtos %}
        <div class="card">
            <img src="{{ url_for('static', filename='uploads/' + produto.imagem) }}" alt="{{ produto.nome }}">
            <div>
                <h1>{{ produto.nome }}</h1>
                <h2>{{ produto.descricao }}</h2>
                <span>R$ {{ produto.preco }}</span>
                <button>Saiba mais</button>
            </div>
        </div>
    {% endfor %}

</div>
    
{% endblock %}
