{% extends "base.html" %}

{% block title %} pagina Produtos {% endblock %}
{% block css %} <link rel="stylesheet" href="/static/css/style-produtos.css"> {% endblock %}

{% block content %}

<div class="container-cards">

    {% for produto in produtos %}
        <div class="card">
            <img src="{{ url_for('static', filename='uploads/' + produto.imagem) }}" alt="{{ produto.nome }}">
            <div>
                <h1>{{ produto.nome }}</h1>
                <h2>{{ produto.descricao }}</h2>
                <span>R$ {{ produto.preco }}</span>
                <button>Saiba mais</button>
            </div>
        </div>
    {% endfor %}

</div>
    
{% endblock %}

