{% extends "base.html" %}

{% block title %} Página Inicial {% endblock %}

{% block class_navbar %}navbar-inicio{% endblock %}
{% block content %}

<!--coloca tudo que colocaria na main, mas n usa a tag main se n buga tudo -->

<!-- Primeira section da página inicial -->
<section class="inicio_pagina_feira">
    <h3 id="titulo_tradicao">TRADIÇÃO EM JOÃO PESSOA</h3>
    <div class="titulo">
        <h1>Bem-vindo à</h1>
        <h1 id="titulo_verde">Feira de Jaguaribe</h1>
    </div>

    <div class="descricao_feira">
        <h3>Desde 1940, o coração pulsante da nossa cultura.</h3>
        <h3>Venha descobrir o melhor dos produtos regionais e o acolhimento paraibano.</h3>
    </div>

    <div class="botoes">
        <a href="{{ url_for('main.pagina_produtos' ) }}" id="btn_ver_produtos">Ver Produtos</a>
        <a href="#"id="btn_historia">Conhecer História</a>
    </div>
</section>
    
<section class="sobre-feira80">
    <div class="sobre-conteudo">
        
        <div class="sobre-imagem">
            <img src="https://picsum.photos/id/192/800/1000" alt="Foto da Feira de Jaguaribe">
            
            <div class="f-anos">
                <span class="numero80">80+</span>
                <span class="texto80">anos de<br>história</span>
            </div>
        </div>

        <div class="sobre-tudo">
            <span class="destaque-verde">SOBRE A FEIRA</span>
            <h2>Um patrimônio cultural no coração de João Pessoa.</h2>
            
            <p>
                A Feira de Jaguaribe é uma das feiras mais antigas de João Pessoa. 
                Sendo também conhecida como a "feira de quarta", ela traz consigo uma história cultural riquíssima do bairro.
            </p>
            <p>
                É um ponto de encontro vital para vendedores locais, fortalecendo a 
                economia da região e a conexão dos moradores com o ambiente. 
                Preços acessíveis e alta variedade de alimentos chamam atenção e 
                garantem uma alta quantidade de consumidores toda semana.
            </p>

            <p>
                Desde 1940, o mercado público é indispensável para o fator social 
                do bairro. Tendo uma praça ao lado da feira, muitas pessoas se 
                aproveitam do movimento para estar saindo de casa e assim 
                podem aproveitar de um ambiente cheio de comidas típicas 
                paraibanas e música regional.
            </p>

            <div class="sobre-info">
                <div class="info-item">
                    <span class="check-icone">✔</span>
                    <div>
                        <strong>Preços Populares</strong>
                        <p>A famosa 'xepa' no fim do dia..</p>
                    </div>
                </div>
                <div class="info-item">
                    <span class="check-icone">✔</span>
                    <div>
                        <strong>Gastronomia</strong>
                        <p>Tapioca, café e muito mais.</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

    <!-- Começo do Main da página principal  -->
<section class="historia_feira">
    <div class="main_feira">
        <h2>Sobre a Feira de Jaguaribe</h2>
        <p>A feira de Jaguaribe é uma das feiras mais antigas de João Pessoa. Sendo também conhecida como a 'feira da quarta' (por conta da tradição da ocorrência em todas as quartas da semana), a feira traz consigo uma história cultural riquíssima do bairo e um ponto de encontro para vendedores locais, fortalecendo a economia da região e a conexão dos moradores com o ambiente. Preços acessíveis e alta variedade de alimentos chamam atenção e garantem uma alta quantidade de consumidores toda semana. Além da sua importância econômica e cultural, o fator social é indispensável na análise desse mercado público. Tendo uma praça ao lado da feira, muitas pessoas (principalmente idosos e crianças) se aproveitam do alto movimento de indivíduos para estar saindo de casa e assim podem aproveitar dum ambiente cheio de comidas típicas paraibanas e música regional.</p>
        <p>A feira tem registros de sua existência desde 1940 e funcionava em um terreno baldio em frente à Igreja de Nossa Senhora do Rosário, mudando de localidade devido à construção do Centro Administrativo. Seus produtos variam de frutas, verduras, carnes, queijos, rapaduras, além de tapiocas e café e outras bebidas que tornam um lugar atrativo para quem visita. Esse ponto cultural da Paraíba é ainda conhecida pelas "gambiarras" de iluminação feitas pelos feirantes, pelos personagens, pela "xepa" (preços mais baixos no fim do dia) e pela atmosfera de autenticidade e comércio.</p>
    </div>
    <!-- Fim do Main da página principal -->
</section>
{% endblock %}

{% block footer %}
<footer>
    <div class="grid">
        <div class="nome_feira">
            <h2><span>FJ</span> Feira de Jaguaribe</h2>
            <p>A melhor plataforma para conectar vendedores e consumidores na feira livre mais tradicional de João Pessoa.</p>
        </div>
        <div class="links_uteis">
            <h3>Links Úteis</h3>
            <ul>
                <li><a href="">Início</a></li>
                <li><a href="">Produtos</a></li>
                <li><a href="">História</a></li>
                <li><a href="">Contato</a></li>
            </ul>
        </div>
        <div class="informacoes">
            <h3>Informações</h3>
            <h4>Endereço:</h4>
            <address>Jaguaribe, João Pessoa - PB</address>

            <h4>Horário Principal:</h4>
            <p>Quartas-Feiras, 05h às 14h</p>
        </div>
    </div>

    <div class="direitos_de_privacidade">
        <p>&copy 2025 Feira de Jaguaribe. Todos os direitos reservados.</p>
        <div id="termos">
            <p><a href="#">Privacidade</a></p>
            <p><a href="#">Termos de uso</a></p>

        </div>
    </div>
</footer>
{% endblock %}