{% extends "base.html" %}

{% block title %} Página de Produtos {% endblock %}
{% block css %} <link rel="stylesheet" href="/static/css/style-produtos.css"> {% endblock %}

{% block content %}

<br><br>
<div class="pesquisa-container">
    
    <form action="{{ url_for('main.pagina_produtos' ) }}" method="GET" class="caixa-pesquisa">
        <input type="text" name="busca" placeholder="O que você procura?" value="{{ request.args.get('busca', '') }}">
        <button type="submit">Buscar</button>
    </form>
    
    <div class="space_cadastro">
        <div class="div_cadastro"> 
            <a class="cadastrando" href="{{ url_for('main.cadastro_produtos' ) }}">Cadastrar um produto</a>
        </div>

        <form action="{{ url_for('main.pagina_produtos') }}" method="GET" class="filtro">
        <label for="filtro-categoria">Filtrar por:</label>  
        <input type="hidden" name="busca" value="{{ request.args.get('busca', '') }}">
        
        <select name="ordem" id="ordem">
            <option value="az" {% if request.args.get('ordem') == 'az' %}selected{% endif %}>A- Z</option>
            <option value="maior-preco" {% if request.args.get('ordem') == 'maior-preco' %} selected {% endif %}>Maior Preço</option>
            <option value="menor-preco" {% if request.args.get('ordem') == 'menor-preco' %} selected {% endif %}>Menor Preço</option>
        </select>
        <button type="submit" class="btn_filtrar">Filtrar</button>
    </form>
    </div>
</div>

<div class="container-cards">

    {% if produtos %}
        {% for produto in produtos %}
            <div class="card">
                <img src="{{ url_for('static', filename='uploads/' + produto.imagem) }}" alt="{{ produto.nome }}">
                <div>
                    <h1>{{ produto.nome }}</h1>
                    <h2>{{ produto.descricao }}</h2>
                    <span>R$ {{ produto.preco }}</span>
                    <button type="button" class="btn_saiba_mais" onclick="AbrirModal('modal-saiba-mais-{{ produto.id }}')">
                        Saiba Mais
                    </button>
                </div>
            </div>
            <div id="modal-saiba-mais-{{ produto.id }}" class="modais">
                <div class="modal-saiba-mais">
                    <main class="produto-detalhe">
                        <h1>{{ produto.nome }}</h1>
                        <img class="img_dc" src="{{ url_for('static', filename='uploads/' + produto.imagem) }}" alt="Imagem de {{ produto.nome }}">
                        <section>
                            <div class="descricao">
                                <p><strong>Preço:</strong> R$ {{ produto.preco }}</p>
                                <p><strong>Vendedor:</strong> {{ produto.vendedor }}</p>
                                {% if produto.whatsapp_vendedor != 'None'  %}
                                    <a href="https://wa.me/{{ produto.whatsapp_vendedor }}?text=Olá! Vi que estava vendendo o produto '{{ produto.nome }}' na Feira de Jaguaribe e gostaria de reservá-lo." 
                                    target="_blank" 
                                    class="btn-whatsapp">
                                        <i class="bi bi-whatsapp"></i> Conversar com Vendedor
                                    </a>
                                {% else %}
                                    <p style="color: gray; font-size: 0.9rem;">Vendedor Não Informou Numero.</p>
                                {% endif %}                             
                                <h2>Descrição</h2>
                                <p>{{ produto.descricao }}</p>
                                <button type="button" class="voltar" onclick="FecharModal('modal-saiba-mais-{{ produto.id }}')">Voltar</button>
                            </div>
                        </section>
                    </main>
                </div>
            </div>
        {% endfor %}
    {% else %}
            <p>Nenhum produto encontrado para busca.</p>
    {% endif %}
</div>
    
{% endblock %}
